<div class="hexagon-item">
   <div id="listeFriend">
         <div class="hex-item">
           <div></div>
           <div></div>
           <div></div>
        </div>
        <div class="hex-item">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <a (click)="afficherFriends()" class="hex-content">
          <span class="hex-content-inner">
            <span class="icon">
              <i class="tf-chat"></i>
            </span>
            <span class="title">Liste Amis</span>
          </span>
          <svg
            viewbox="0 0 173.20508075688772 200"
            height="200"
            width="174"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
              fill="#5C5C5A"
            ></path>
          </svg>
        </a>
   </div>
</div>
<div *ngIf="affichage" class="carteInfos col-lg-12">
  <div class="carteInfos1 col-lg-12">
    <div class="col-lg-offset-11 col-lg-1">
      <span (click)="afficherFriends()" class="glyphicon glyphicon-remove"></span>
    </div>
    <div *ngFor="let friend of listeProfilsFriends" class="ami col-lg-10">
      <a href="./steamid/{{friend.steamid}}"><img src="{{friend.avatar}}" alt="avatar"></a>
      <a href="{{friend.profileurl}}">{{friend.personaname}}</a><span class="gommetteProfil etatProfil{{friend.personastate}}"></span>
      <br>
      <span>Amis depuis {{getFriendsDepuis(friend.steamid)}}</span>
    </div>
  </div>
</div>
